<h1><%= @review.title %></h1>
<p><%= @review.author %></p>

<div class="score">
    <%= @review.score %> / 10
</div>
<div class="body">
    <%= simple_format @review.body %>
</div>
<div class="genre">
    <%= @review.genre %>
</div>

<%= link_to "Edit review", edit_review_path(@review) %>
<%= button_to "Delete this review", review_path(@review), method: :delete, onclick: "return confirm('Are you sure?')" %>