<!DOCTYPE html>
<html>
  <head>
    <title>Read and Review</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Read and Review", root_path %></h1>
      <h2>Share reviews on your favourite books or find your next read!</h2>
      <%= link_to "Add a review", new_review_path %>
    </header>

    <%= yield %>

    <footer>
      <p>Copyright Read and Review 2020</p>
    </footer>
  </body>
</html>
